@font-face {
    font-family: GillSansMTCondensedBold;
    font-style: normal;
    src: url(../css/GillSansMTCondensedBold.ttf);
}

@font-face {
    font-family: GillSansStd-Condensed;
    font-style: normal;
    src: url(../css/GillSansStd-Condensed.otf);
}

@font-face {
    font-family: fontawesome-webfont;
    font-style: normal;
    src: url(../css/fontawesome-webfont.ttf);
}

body {
    background-color: #111111;
}

.alert-danger {
    display: none;
}

#qrcode {
    position: absolute; 
    left: -9999px;
}

.container-fluid {
    width: 80%;
    position: relative;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
    font-size: 15px;
    font-family: GillSansMTCondensedBold;
}

.first-row {
    height: 56px;
    margin-bottom: 15px;
    padding: 5px 5px;
    padding-bottom: 0px;
}

#inputNameContainer {
    margin-bottom: 2.5%;
    padding-left: 5px;
    padding-right: 0;
}

#inputName {
    width: 88%;
    float:left; 
    margin-top: 1px; 
    background-color: #111111; 
    border-color: #555555;
    color: #EEEEEE; 
}

.form-control:focus {
    border-color: rgb(239, 154, 154);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.interface-button {
    height: 35px;
    line-height: 24px !important;
}

#showAddClientButton {
    float:right;
    font-weight: bold;
    height: 34px;
}

#clientOptions::-webkit-scrollbar {
    display: none;
}

.client-options {
    position: absolute;
    top: 42px;
    left: 5px;
    right: -15px;
    z-index: 2;
    padding-left: 15px;
    overflow-y: scroll;
    max-height: 550px;
}

.client-options-item {
    padding-top: 4px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #111111;
    border-color: #555555;
    color: #EEEEEE !important;
}

.client-options-item:hover {
    background-color: #222222 !important;
    border-color: #555555;
}

#greenCheck {
    color: #5cb85c;
    z-index: 1;
    position: absolute;
    right: 90px;
    top: 7px;
    visibility: hidden;
}

#greenCheckW {
    color: #5cb85c;
    z-index: 1;
    position: absolute;
    right: 67px;
    top: 7px;
    visibility: hidden;
}

#greenCheckWN {
    color: white;
    z-index: 1;
    position: absolute;
    right: 64px;
    top: 7px;
    visibility: hidden;
}

#tomorrowContainer {
    padding-top: 5px;
    padding-right: 5px;
}

#tomorrowCheckbox {
    vertical-align: top; 
    margin-top: 6.5px; 
    margin-left: 32px; 
    color: black;
}

#tomorrowCheckboxLabel, #invoiceCheckboxLabel {
    color: #BABABA; 
    margin-top: 2.5px;
    margin-bottom: 0px; 
    line-height: 23px; 
    opacity: .4; 
}

#invoiceCheckbox {
    vertical-align: top;
    margin-top: 6.5px; 
    margin-left: 15px;
}

#inputEmployeeName {
    width: 162px; 
    margin-top: 1px; 
    padding-top: .5px;
    background-color: #111111; 
    border-color: #555555; 
    -webkit-appearance: none; 
    font-family: GillSansMTCondensedBold !important;
    font-size: 23px !important;
}

#printButton {
    float: right; 
    font-weight: bold; 
    color: #EEEEEE;
}

#printByPhoneButton {
    float: right;
    margin-right: 5px;
    font-weight: bold;
    color: #EEEEEE;
}

#printByWhatsButton {
    float: right; 
    margin-top: 1px; 
    margin-right: 5px; 
    font-weight: bold; 
    font-size: 28px !important; 
    color: #EEEEEE;
    -webkit-text-stroke: 1px; 
}

#printByWhatsButton i{
    font-size: 28px; 
    line-height: 22.5px;
}

#printByPhoneButton, #printButton, .glyphicon-user, .glyphicon-phone-alt {
    line-height: 0px !important;
}

#addProductButton, #callClientButton {
    float: right;
    margin-right: 5px;
    font-weight: bold;
}

#searchContainer {
    margin-bottom: 15px;
}

#quantityContainer {
    padding-left: 10px;
    padding-right: 0px; 
}

#quantityInput {
    background-color: #111111;
    border-color: #555555;
    color: #EEEEEE;
}

#searchNameContainer {
    padding-right: 5px;
}

#inputSearch {
    background-color: #111111; 
    border-color: #555555;
    color: #EEEEEE; 
}

#wtTextField {
    width: 250px;
    position: absolute;
    left: 410px;
    top: 1px;
    z-index: 1;
    text-align: left;
    visibility: visible;
    color: #555555;
}

#npTextField {
    width: 250px;
    position: absolute;
    left: 705px;
    top: 1px;
    z-index: 1;
    text-align: left;
    visibility: visible;
    color: #555555;
}

#totalTextField {
    width: 100px;
    position: absolute;
    top: 1px;
    right: 26px;
    z-index: 1;
    text-align: right;
    visibility: visible;
    color: #555555;
}

#dynamic-list {
    height: 620px;
    margin-left: -5px;
    margin-right: -10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    overflow: scroll;
}

#dynamic-list::-webkit-scrollbar {
    display: none;
}

.search-options {
    position: absolute;
    left: 10px;
    right: -10px;
    z-index: 1;
    padding-left: 15px;
    max-height: 550px;
    overflow-y: scroll;
}

.search-options-item {
    padding-top: 5px;
    padding-bottom: 5px;
}

.search-options-item:hover {
    background-color: #222222 !important;
}

.search-options-item:focus {
    background-color: #222222 !important;
}

#sugerenciasLabel {
    visibility: hidden;
    color: #BABABA;
}

#dynamic-list-2 {
    width: 99%; 
    height: 250px; 
    position: absolute; 
    top: 522px; 
    margin-left: -5px; 
    padding-right: 4.2px; 
    visibility: hidden;
    overflow: scroll; 
}

#dynamic-list-2::-webkit-scrollbar {
    display: none;
}

#calculatorContainer {
    width: 16%;
    float: left;
    margin-top: 20px;
    font-family: GillSansMTCondensedBold;
    font-size: 23px;
}

#calculator {
    width: 100%;
    height: 100%;
}

.result {
    width: 160px;
    height: 35px;
    float: left;
    line-height: 40px;
    border-radius: 4px;
    background-color: #EEEEEE;
    color: #111111;
}
  
.result > p {
    margin-left: 10px;
}
  
.clear, .calculator-button {
    width: 50px;
    height: 35px;
    margin: 2.5px;
    text-align: center;
    line-height: 40px;
    border-radius: 4px;
    background-color: buttonface;
    color: #333;
    cursor: pointer;

    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} 

.calculator-button {
    float: left;
}

.calculator-button:hover{
    background-color: #888888;
}


#addProductModal {
    background-color: #111111;
}

#addProductModal, #invoiceIdModal, #addClientModal{
    font-family: GillSansMTCondensedBold;
}

#addProductModalLabel, #invoiceIdModalLabel, #addClientModalLabel {
    font-size: 25px !important;
    line-height: 25px;
}

.modal-content {
    background-color: #222222;
}

#addProductModalLabel {
    color: #BABABA;
}

.modal-body {
    color: #BABABA;
}

#verificationMessage {
    color: red;
}

#addProductFromTopRow {
    margin-bottom: 15px;
}

#addProductDescription {
    background-color: #222222;
    border-color: #555555;
    color: #BABABA;
}

#datePicker, #relationID, #relationQuantity {
    background-color: #222222;
    border-color: #555555;
    color: #BABABA;
}

#inputID, #SATInput, #costInput {
    background-color: #222222; 
    border-color: #555555;
    color: #BABABA; 
}

#unitSelect, #stockSelect, #typeSelect {
    background-color: #222222; 
    border-color: #555555;
    color: #BABABA; 
    -webkit-appearance:none;
}

#cancelButton, #saveButton {
    color: #333333;
}

#deleteButton {
    display: none;
    color: #333333;
}

#addClientModal {
    background-color: #111111;
}

#addClientModalLabel {
    color: #BABABA;
}

#addClientModalFromContainer {
    color: #BABABA; 
    margin-bottom: 16px;
}

#formNameInputContainer {
    color: #BABABA;
}

#addClientFormName {
    margin-bottom: 5px;
}

#formNameInput, #formNumberInput {
    background-color: #222222; 
    border-color: #555555;
    color: #BABABA; 
}

#formWhatsappContainer, .float-child {
    float: left; 
    margin: 0px; 
    padding: 0px;
}

#formWNumberInput {
    width: 195px;
}

#noWhatsappCheckbox {
    vertical-align: top; 
    margin-top: 9px; 
    margin-left: 0px; 
    color: black;
}

#noWhatsappCheckboxLabel {
    width: 130px;
    margin-top: 5.5px;
    margin-bottom: 0px; 
    opacity: .4; 
    line-height: 23px; 
    color: #BABABA; 
}

#addClientButton, #cancelClientButton {
    color: #333333;
}

#deleteClientButton {
    display: none;
    color: #333333;
}

.no-horizontal-padding {
    padding-left: 0px;
    padding-right: 0px;
}

#clientNameResult {
    padding-left: 12px;
    padding-right: 0px;
}

#editButton {
    line-height: 28px;
}

.product-row {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 23px !important;
    line-height: 22px;
}

.product-info {
    padding-top:7px;
}

.product-quantity {
    padding: 0px;
}

.product-notes {
    border:0; 
    box-shadow: none;
}

.product-notes-container {
    padding: 0px;
    padding-right: 10px;
}

.product-total-container {
    padding: 0px;
}

.product-totalA {
    border:0; 
    box-shadow: none;
}

#inputFirst {
    width: 150px;
    margin: 0px auto;
}

::placeholder {
    opacity: .5;
}

.glyphicon-remove {
    padding-right: 6px;
}

#totalLabel {
    color: gray; 
    padding-left: 15px; 
}

.remove-button {
    width: 32px;
    margin-top: 1px;
    padding-left: 9px;
    float: right;
}

.edit-button {
    width: 64px;
    float: right;
    margin: 0px;
    padding: 0px;
}

.title {
    font-family: GillSansMTCondBold;
    font-size: 50px;    
    margin-top: 5px;
    padding-bottom: 5px;
    line-height: 80%;
    color: red;
}

.name {
    font-family: GillSansMTCond;
    font-size: 45px;   
    line-height: 0px;                  
    color: black;
}

.price {
    padding-left: 10px;
    font-family: GillSansMTCond;
    font-size: 35px;   
    line-height: 0px;                      
    color: rgb(185, 154, 0);
}

#searchOptions::-webkit-scrollbar {
    display: none;
}

#formNumberInput::-webkit-outer-spin-button, #formNumberInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#logo {
    display: block;   
    width: 420px;
    height: auto;
    margin: auto;
    padding-right: 30px;
}

#centerColumn .title {
    text-align: center;
    padding-right: 20px;
}

#centerColumn .product {
    line-height: 315%;          
}

.clear {
    float: left;
    margin-left: 5px;
    margin-right: 0px;
    margin-top: 0px;
    background-color: #d9534f;   
    border-color: #d43f3a;
    color: #EEEEEE;
}
  
#splashScreen {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;
    text-align: center;
    background-color: white;
    font-family: GillSansMTCondensedBold;
    font-size: 30px;
    color: black;
}

#logo-image {
    width: 300px;
    height: auto;
    margin-top: 15%;
    align-self: center;
}

input, button:not(.cross), label, span:not(.cross) {
    font-size: 23px !important;
}

.cross {
    font-size: 13px !important;
}